<!DOCTYPE HTML>
<html>
    <head><title>Change</title></head>
    <body>
        <center>
            <h3>500s: {{notes[500]}} <br>
                200s: {{notes[200]}} <br>
                100s: {{notes[100]}} <br>
                50s: {{notes[50]}} <br>
                20s: {{notes[20]}} <br>
                10s: {{notes[10]}} <br>
                5s: {{notes[5]}} <br>
                2s: {{notes[2]}} <br>
                1s: {{notes[1]}} <br></h3>
                <form action="/">
                    <button type="submit">Back</button>
                </form>
        </center>
    </body>
</html>